$second-main-color: #ff914d;
// $main-text-color: #313237;
$main-text-color: #313237;
// $secondary-text-color: #75767F;
$secondary-text-color: #89939A;
// $icons-gray-color: #4A4D58;
$icons-gray-color: #B4BDC3;
// $elements-gray-color: #3B3E4A;
$elements-gray-color: #E2E6E9;
// $hover-bg-color: #323542;
$hover-bg-color: #FAFBFC;
// $bg-ccolor: #161827;
$bg-color: #FFF;
// $white-color: #FFF;
$white-color: #FFF;
// $green-color: #27AE60;
$green-color: #27AE60;
// $red-color: #EB5757;
$red-color: #EB5757;
$header-height-desktop: 64px;
$header-height-tablet: 48px;
